<div class="col-lg-6 m-auto pt-5">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title m-0" data-i18n="credential.header"></h5>
    </div>
    <div class="card-body">
      <form>
        <div class="box-body">
          <div class="form-group">
            <label>Access Key ID</label>
            <input type="text" class="form-control" id="access_key_id" name="access_key_id" value="" />
          </div>
          <div class="form-group">
            <label>Secret Access Key</label>
            <input type="password" class="form-control" id="secret_access_key" name="secret_access_key" value="" />
          </div>
          <div class="form-group row">
            <div class="form-check col-sm-4">
              <input class="form-check-input" type="radio" name="region_type" value="Global" checked />
              <label class="form-check-label" data-i18n="credential.others"></label>
            </div>
            <div class="form-check col-sm-5">
              <input class="form-check-input" type="radio" name="region_type" value="MainlandChina" />
              <label class="form-check-label" data-i18n="credential.MainlandChina"></label>
            </div>
          </div>
        </div>
      </form>
      <div class="box-footer">
        <button id="btn_login" class="btn btn-default text-white" data-i18n="credential.login"></button>
        <label id="buckets_list" class="label"></label>
      </div>
    </div>
  </div>
</div>
