<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold" data-i18n="objects.table.head"></h3>

      <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 250px;">
          <input type="text" name="table_search" class="form-control float-right" placeholder="">

          <div class="input-group-append">
            <button type="submit" id="search" class="btn btn-default">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0 objects">
    </div>
    <div id="loading">
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
