        <div class="row mb-2 align-items-center px-2">
          <div class="mr-auto">
            <ol class="breadcrumb float-sm-left" id="breadcrumb">
            </ol>
          </div>
          <div class="ml-auto" id="bucket_buttons">
              <a class="btn btn-default btn-normal" id="refresh_buckets" href="#">
                <i class="fa fa-redo"></i>
              </a>
          </div>
          <div class="ml-auto" id="object_buttons" style="display:none">
              <div class="btn-group btn-group-toggle" id="style_buttons" data-toggle="buttons">
                <label class="objects-style btn bg-light focus active"><i class="fa fa-list"><input type="radio" name="objects_style" value="list" class="objects_style" /></i></label>
                <label class="objects-style btn bg-light"><i class="fa fa-th-large"><input type="radio" name="objects_style" value="icons" class="objects_style" /></i></label>
              </div>
              <a class="btn btn-default btn-normal" id="refresh_objects" href="#">
                <i class="fa fa-redo"></i></a>
              <a class="btn btn-default btn-normal font-weight-bold" id="delete_objects_btn" data-i18n="objects.header.delete" href="#"></a>
              <a class="btn btn-default btn-normal font-weight-bold" id="share_objects_btn" data-toggle="modal" data-target="#share_modal" data-i18n="objects.header.share" href="#"></a>
              <a class="btn btn-default btn-normal font-weight-bold" id="download_objects_btn" data-i18n="objects.header.download" href="#"></a>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-normal font-weight-bold dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown">
                  <span data-i18n="objects.header.action"></span>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" id="make_public_btn" data-i18n="objects.header.makePublic" href="#"></a>
                  </div>
                </button>
              </div>
              <a class="btn btn-default btn-normal font-weight-bold" id="add_folder_btn" data-toggle="modal" data-target="#add_folder_modal" data-i18n="objects.header.createFolder" href="#"></a>
              <div class="btn-group">
                <button type="button" class="btn btn-default text-white dropdown-toggle dropdown-hover dropdown-icon upload-btn" data-toggle="dropdown">
                  <span data-i18n="objects.header.upload"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" id="upload_objects_btn" data-i18n="objects.header.uploadObject" href="#"></a>
                    <a class="dropdown-item" id="upload_folders_btn" data-i18n="objects.header.uploadFolder" href="#"></a>
                  </div>
                </button>
              </div>
          </div>
